<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test">
    <classes>
      <class name="C:\Users\vkini01\OneDrive - dentsu\Documents\Java Automation\VG Glint Auto Official\vg glint auto test\src\test\java\testcase\ODS_test.java"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
